<% @listing.images.each do |x| %>
    <%= image_tag (x.url(:thumb)) %>
  <% end %><br>

Property name: <%=@listing.name%><br>
Price per night: <%=@listing.price%><br>
Description: <%=@listing.description%><br>
Country: <%=@listing.country%><br>
Address: <%=@listing.address%><br>
Verified? <%=@listing.verified%><br>

<% if signed_in? -%>
    <a href="/listings/<%= @listing.id%>/verify">verify</a><br>
    <a href="/listings/<%= @listing.id%>/edit">Edit Listing</a><br>
<%end%>
