  <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
  <% @listing.images.each do |image| %>
    <div class="carousel-item <%= 'active' if image == @listing.images[0] %>">
      <img class="img-fluid" src= <%=image.url%> class="images">
    </div>
    <% end %>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

Property name: <%=@listing.name%><br>
Price per night: <%=@listing.price%><br>
Description: <%=@listing.description%><br>
Country: <%=@listing.country%><br>
Address: <%=@listing.address%><br>
Verified? <%=@listing.verified%><br>

<% if signed_in? -%>
    <a href="/listings/<%= @listing.id%>/verify">verify</a><br>
    <a href="/listings/<%= @listing.id%>/edit">Edit Listing</a><br>
    <a href="/listings/<%= @listing.id%>/reservation">Book/Reserve</a><br>
<%end%>
