<div class="form-group col-md-4">
  <%= form.label :email %>
  <%= form.text_field :email, type: 'email', class:"form-control" %>
</div>

<div class="form-group col-md-4">
  <%= form.label :password %>
  <%= form.password_field :password, type: 'password', class:"form-control" %>
</div>

<div class="form-group col-md-4">
  <%= form.label :first_name %>
  <%= form.text_field :first_name, type: 'first_name', class:"form-control" %>
</div>

<div class="form-group col-md-4">
  <%= form.label :last_name %>
  <%= form.text_field :last_name, type: 'last_name', class:"form-control" %>
</div>

<div class="form-group col-md-4">
  <%= form.label :gender %>
  <%= form.text_field :gender, type: 'gender', class:"form-control" %>
</div>

<div class="form-group col-md-4">
  <%= form.label :phone %>
  <%= form.text_field :phone, type: 'phone', class:"form-control" %>
</div>

<div class="form-group col-md-4">
  <%= form.label :country %>
  <%= form.text_field :country, type: 'country', class:"form-control" %>
</div>

<div class="form-group col-md-4">
  <%= form.label :birthdate %>
  <%= form.text_field :birthdate, type: 'birthdate', class:"form-control" %>
</div>

<div class="form-group col-md-4">
<button type="submit" class="btn btn-primary">Sign up</button>
</div>